@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap');
@import "../../node_modules/normalize.css/normalize.css"
@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css"

*
    font-family 'Archivo', sans-serif

blockquote
    q
        position relative
        &:before
            position absolute
            left -0.5rem
            top 0