@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap');
@import "../../node_modules/normalize.css/normalize.css"
@import "../../node_modules/bootstrap/dist/css/bootstrap-grid.css"

*
    font-family 'Archivo', sans-serif
